<div class="form-group">
  <input class="form-control" type="password"
         [(ngModel)]="value"
         name="formInput"
         #formInput="ngModel"
         pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
         minlength="{{minLength}}"
         maxlength="{{maxLength}}"
         [required]="isRequired">
  <div [hidden]="formInput.valid || formInput.pristine" class="alert alert-danger">
    <div [hidden]="!formInput.hasError('required')">This field is required</div>
    <div [hidden]="!formInput.hasError('minlength')">Minimum length is {{minLength}}</div>
    <div [hidden]="!formInput.hasError('maxlength')">Maximum length is {{maxLength}}</div>
    <div [hidden]="!formInput.hasError('pattern')">Should have at least one uppercase letter, one lowercase letter, one number and one special character.<small><b>Eg: passworD2#</b></small></div>
  </div>
</div>
