<div class="container">
  <form #form="ngForm" (submit)="onSubmit(form.value)">
    <app-label [labelName]="'First name'" [isRequired]="true"></app-label>
    <app-input-field-text name="firstName" [(ngModel)]="firstName" [inputType]="'text'"></app-input-field-text>

    <app-label [labelName]="'Middle name'"></app-label>
    <app-input-field-text name="middleName" [(ngModel)]="middleName" [inputType]="'text'"></app-input-field-text>

    <app-label [labelName]="'Last name'" [isRequired]="true"></app-label>
    <app-input-field-text name="lastName" [(ngModel)]="lastName" [inputType]="'text'"></app-input-field-text>

    <app-label [labelName]="'Email'" [isRequired]="true"></app-label>
    <app-input-field-email  name="emailAddress" [(ngModel)]="emailAddress"></app-input-field-email>

    <app-label [labelName]="'Address'" [isRequired]="true"></app-label>
    <app-input-field-text name="address" [(ngModel)]="address" [inputType]="'text'"></app-input-field-text>

    <app-label [labelName]="'Mobile'" [isRequired]="true"></app-label>
    <app-input-field-text name="mobileNumber" [(ngModel)]="mobileNumber" [inputType]="'number'"></app-input-field-text>

    <app-label [labelName]="'Password'" [isRequired]="true"></app-label>
    <app-input-field-password  name="password" [(ngModel)]="password" ></app-input-field-password>

    <app-button buttonType="submit" buttonValue="Send"></app-button>
  </form>
</div>


