<div class="container">
  <br/>
  <div class="row">
    <div class="col-sm-3 mx-auto">
      <form #form="ngForm" (submit)="onSubmit(form.value)">

        <app-label [labelName]="'Mobile Number'"></app-label>
        <app-input-field-text name="mobileNumber" [(ngModel)]="user.mobileNumber"></app-input-field-text>

        <app-label [labelName]="'Password'"></app-label>
        <app-input-field-password name="password" [(ngModel)]="user.password"></app-input-field-password>

        <app-button [buttonType]="'submit'" [buttonValue]="'Login'" [buttonClass]="'btn btn-primary'"></app-button>
        <app-button (click)="userRegister()" [buttonType]="'button'" [buttonValue]="'Register'" [buttonClass]="'btn btn-link'"></app-button>
      </form>
    </div>
  </div>
</div>
