<div class="form-group">
  <input type="text" class="form-control"
         [required]="isRequired"
         [(ngModel)]="value" name="email"
         pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
         #email="ngModel">
  <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
    <div [hidden]="!email.hasError('required')">Email is required</div>
    <div [hidden]="!email.hasError('pattern')">Email format should be
      <small><b>email@example.com</b></small>
    </div>
  </div>
</div>
